.container_imag {
   padding: 0 4px;
}
.container_imag button{
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.container_imag .imag{
    border-radius: 10px;
    cursor: pointer;
    max-width: 178px;

}
.container_imag .imag:hover{
    transform: scale(1.05);
}

.container_imag p{
    color: white;
    font-size: medium;
}
.button-fav{
    font-size: .8rem;
    color: white;
    align-items: center;
    display: flex;
}

.button-fav svg{ 
    fill: aliceblue;
}
@media (max-width:1000px) {
.container_imag .imag{
max-width: 123px;
}
}