.navbar { 
    animation: 2s navbar  ease-in-out;
    z-index: 2;
    background: linear-gradient(black, rgba(0, 0, 0, 0.062));
    width: 100%;
    position: fixed;
}
.navbar-fix{
    animation: 4s navbar  ease-in-out;
    z-index: 2;
    width: 100%;
    background: black;
    position: fixed;

}
@keyframes navbar {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}
 .navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: min-content;
}
 .navbar-content svg{
    height: 60px;
    width: 250px;
}
.navbar-content ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 0;
}
.navbar-content ul li {
    position: relative;
    }
    .navbar-content ul li::before{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all ease-in-out 200ms;
    }
    .navbar-content ul li:hover::before{
    width: 100%;
    }
.navbar-content ul li a{
    text-decoration: none;
    color: #8f8b8b;
    font-size: 1.5rem;
}
.navbar-content ul li a:hover{
    color: #ffffff;
    
}
.barras {
display: none;
position: relative;

}

.input-search{
padding: 4px;
border-radius: 4px;
border: none;
margin-right: 10px;
font-size: 1rem;
}
.button-search{
padding: 4px;
font-size: 1rem;
border-radius: 4px;
border: none;
cursor: pointer;
transition: all .3s;
}
.button-search:hover{
background-color: black;
color: #fff;
}
@media (max-width: 450px) {
    .input-search{
        margin-bottom: 10px;
        font-size: small;
        }
}

@media (max-width: 1000px) {   
    .navbar{
        padding-top: 0;
    }
.navbar .navbar-content {
    width: 70%;
    height: 100vh;
    padding: 0px;
    display:flex;
    flex-direction: column;
    position: absolute;
    transition: 0.5s all ease-in;
}
.navbar div svg{
    width: 200px;
    margin-top: 40px;
}
.navbar .navbar-content.close {
    left: -400px;
    top: 0;
}
.navbar .navbar-content.open {
    background-color: rgb(0, 0, 0);
    left: 0; 
    font-weight: 400;
    top: 0;
}
.navbar-content ul{
    margin: 60px 0 0;
    justify-content: flex-start;
    align-items: flex-start;
    }
    .navbar-content ul li{
    width: 70%;
    margin: 10px 0;
}
.navbar-content ul li a{
color: white;
padding: 0px;
font-size: 1.3rem;
}
.barras {
    position: absolute;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 4px;
    display: block;
    top:0;
    left: 5px;
    cursor: pointer;
}
.barras button{
    background: none;
    border: none;
    cursor: pointer;

}
.barras span{
    display: block;
    width: 22px;
    height: 2px;
    margin: 5px 0px;
    border-radius: 1px;
    background-color: #fff;
    cursor: pointer;

}
.form-search{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
}