.container-video {
    min-width: 100%;
    max-height: 84vh;
    height: 84vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(#080f2800 60%, #080f28e3 94%);
}
.container-video .videito{
position: absolute;
min-width: 100%;
min-height: 70%;
top: 50%;
left:50%;
z-index: -1;
transform: translateX(-50%) translateY(-50%);
}